body{
    background:linear-gradient(to bottom,red,black,blue,black);
    background-repeat: no-repeat;
    background-size:cover ;
}
#row1{
    border-bottom: 5px solid rgb(5, 30, 3);
    background:linear-gradient(to top,red,black )
}


 img{
    height:200px;
    width:200px;
    border:solid 5px rgb(234, 182, 11);
 }
 #welcome{
    font-size: 25px;
    color:azure;
    text-align: center;
 }
 @font-face {
    font-family: "for-footer";
    src: url("../Fonts/Certiveit Demo OTF.otf");
 }
 #foot{
    font-family: for-footer;
    color:rgb(224, 154, 154);
    text-align: center;
    font-size: 45px;
 }
 