@font-face {
    font-family: "my-first-font";
    src: url("../Fonts/Admiration\ Pains.ttf");
}
body {
    background-image: url("../multimedia/uifilm.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.im-in{
    width: 100%;
    height: 100%;
  }
img{
    border:solid 5px rgb(234, 182, 11);
}  
.im-in img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 #desc{
    background: linear-gradient(black,rgb(11, 11, 116),rgb(127, 127, 162));
    color: azure;
 }
#title{
    font-family: my-first-font;
}
#row1{
    border-bottom: 5px solid rgb(5, 30, 3);
    background:linear-gradient(to top,red,black )
}